@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=M+PLUS+1:wght@400;500;600;700;800&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: linear-gradient(180deg, #f7f3fb 0%, #f4f4f4 100%);
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Josefin Sans", "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --navbar-bg: #e8cdd3;
  --navbar-expanded-bg: #eee7f2;
  --text-font: "M PLUS 1", sans-serif;
  --button-font: "Nunito Sans", sans-serif;

  --wallet-card-bg: linear-gradient(-90deg, #882df1d7 0%, #c99afb 100%);
  --savings-card-bg: linear-gradient(-90deg, #fffdee 0%, #f2d4a2 100%);
  --expense-card-bg: #dde9f3d8;

  --summary-card-bg: linear-gradient(180deg, #f6f6f6dd 0%,#d4cbd57c 60%, #c386a963 100%);
  --summary-card1-accent: rgba(144, 59, 111, 0.25);
  --summary-card2-accent: rgba(255, 180, 241, 0.25);
  --summary-border: rgba(255, 255, 255, 0.25);
  --summary-card-border: linear-gradient(-250deg, #903b6f8b 0%, #fccff452 100%);

  --table-header: #6b6375;
  --table-row: #f4f4f4;

  --bg-shadow: #d8bec327;
  --button-active: #a75457;
  --button-hover: #a7545735;

  --sand-bg:
    radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
    linear-gradient(135deg, #882df1 0%, #d5cdc3 100%);
  background-size:
    5px 5px,
    cover;

  --paper-bg: #f8f1df;
  --paper-grid: #d9c7a557;
  --paper-border: #d6c3a5;
  --saving-cards-border: #8b403c;

  font: 18px/145% var(--text-font);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  width: 100%;
  padding: 1.2em;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }
}

@theme {
  --color-pink-red: linear-gradient(180deg, #ff6e89 0%, #ff0004 100%);
}

button {
  font-family: var(--button-font);
}

.paper-card {
  background-color: var(--paper-bg);
  background-image:
    linear-gradient(var(--paper-grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--paper-grid) 1px, transparent 1px);
  background-size: 25px 25px;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out;
}